{% extends "appcoder/base.html"%}

{% block titulo %} Coderhouse | Entregables {% endblock %}

{% block contenidoQueCambia %}


<head>
    <meta charset="UTF-8">
    <title>Centrar Texto</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Aca visualizamos los Entregables</h1>
</body>
</html>


{%  for entregable in entregables %}

{{entregable.nombre}} - {{entregable.fecha_de_entrega}} - {{entregable.entregado}}

{% endfor %}

{% endblock  %}