<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for p in profesores %}

        <li>{{p}}</li>

        <button>
        
        <a href= "{% url 'EliminarProfesores' p.nombre %}"> Eliminar </a>
        
        <a href= "{% url 'EditarProfesores' p.nombre %}"> Editar </a>
        
        </button>

    {% endfor %}

    <button>

    <a href= "{% url 'profesores'  %}"> Agregar Otro Profesor </a>

</button>

</body>
</html>