{% extends "appcoder/base.html"%}

{% load static %}

{% block contenidoQueCambia %}

<h1>Detalles del Curso</h1>



{% block main %}

    {% for curso in cursos %}

        <p> Nombre:{{curso.nombre}} | Comision:{{curso.comision}} </p>

        <a href="{% url 'ActualizarCursos' curso.pk %}"> Actualizar </a>
        <a href="{% url 'VerCursos' curso.pk %}"> Ver </a>
        <a href="{% url 'BorrarCursos' curso.pk %}"> Borrar </a>

    {% endfor %}

{% endblock main%}

<button>

    <a href= "{% url 'cursos'  %}"> Volver </a>

</button>

{% endblock contenidoQueCambia %}