{% extends "appcoder/base.html"%}

{% block titulo %} Coderhouse | profesores {% endblock %}

{% block contenidoQueCambia %}
<head>
    <meta charset="UTF-8">
    <title>Centrar Texto</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Profesores Tutores </h1>
</body>
</html>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Profesión</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.apellido }}</td>
                <td>{{ profesor.email }}</td>
                <td>{{ profesor.profesion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock  %}