{% extends "appcoder/base.html"%}

{% load static %}

{% block contenidoQueCambia %}


{% block title %} Editar Contraseña {% endblock title %}

{% block main %}

    <div class="d-flex justify-content-center">

        <div class="d-flex flex-column">

            

            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{form}}
                </table>
                
                <input type="submit" value="Cambiar Contraseña">

            </form>
    </div>

{% endblock main %}



{% endblock contenidoQueCambia %}