{% extends "appcoder/base.html"%}

{% load static %}

{% block contenidoQueCambia %}

<h1>Login de la WEB</h1>

{% block title %} Login {% endblock title %}

{% block main %}

    <div class="d-flex justify-content-center">

        <div class="d-flex flex-column">

            <p class="fs-5 fw-bold">{{ msg_login }} </p>

            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Iniciar Sesion">

            </form>
    </div>

{% endblock main %}



{% endblock contenidoQueCambia %}